* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 158, 125);
}

div {
  width: 20vw;
  height: 20vw;
  margin: 20px;
  background-color: black;
}

@media all and (max-width: 1000px) {
  body {
    background-color: rgb(50, 167, 245);
  }
  div {
    background-color: rgb(78, 3, 3);
  }
}

@media all and (max-width: 600px) {
  body {
    background-color: rgb(245, 160, 50);
  }
  div {
    background-color: rgb(5, 134, 134);
  }
}

@media all and (max-width: 400px) {
  body {
    background-color: rgb(50, 245, 50);
  }
  div {
    background-color: rgb(116, 185, 4);
  }
}
